body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/736x/85/27/f1/8527f12e83003488efc5de0ac1d7ab09.jpg');
    background-size: cover;
  }
  
  .home {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  #explore-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #88ce02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #explore-btn:hover {
    background-color: #669900;
  }
  
  