@import url("https://fonts.googleapis.com/css?family=Merienda+One");

html {
  background-color: #000;
    
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
/*
h1 {
  font-size: 8em;
  font-family: 'Merienda One';
  font-weight: 400;
  position: fixed;
  top:50%;
  left: 0;
  right: 0;
  margin: 0;
  line-height: 1;
  transform: translateY(-50%);
  z-index: 100;
  text-shadow: 0 2px 10px rgba(black,0.8);
}
*/
body,
.more-snow {
  &:before,
  &:after {
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(black, 0.01);
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 30%;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
}
body {
  &:before {
    filter: blur(6px);
    opacity: 0.8;
  }
  &:after {
    filter: blur(1px);
    top: -1500%;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 90%;
    animation-duration: 100s;
  }
}
.more-snow {
  &:before {
    filter: blur(4px);
    opacity: 0.8;
    top: -2500%;
    background-size: 60%;
    animation-duration: 150s;
  }
  &:after {
    filter: blur(2px);
    opacity: 0.8;
    top: -2000%;
    background-image: url(https://laviwebfiles.com/stage/codepen/4-2-white-snow-png.png);
    background-size: 70%;
    animation-duration: 150s;
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}
